# History files
.Rhistory

# Example code in package build process
*-Ex.R
Pairs/Pairs-concordance.tex
# Rroj
*.RData
*.log
*.rbd
*.Rproj
*.Rproj.user
*.pdf
*.rdx
*rdb
Commodities/Commodities_Slides-concordance.tex
*.snm
*.gz
*.toc

Commodities/Commodities_Slides.log
Commodities/Commodities_Slides.nav
Commodities/Commodities_Slides.pdf
Commodities/Commodities_Slides.snm
Commodities/Commodities_Slides.synctex.gz
Commodities/Commodities_Slides.tex
Commodities/Commodities_Slides.toc
Commodities/cache/Calspread_ed98ad7f9c305f7a062e03d10596b51e.RData
Commodities/cache/Calspread_ed98ad7f9c305f7a062e03d10596b51e.rdb
Commodities/cache/Calspread_ed98ad7f9c305f7a062e03d10596b51e.rdx
Commodities/cache/Oilspec_6d1be72e11050297103a85ea521befbf.RData
Commodities/cache/Oilspec_6d1be72e11050297103a85ea521befbf.rdb
Commodities/cache/Oilspec_6d1be72e11050297103a85ea521befbf.rdx
Commodities/figure/Calspread-1.pdf
Commodities/figure/Oilspec-2.pdf
Commodities/figure/unnamed-chunk-1-1.pdf
*.nav
.Rproj.user
Pairs/cache/__packages
